table {
    border-spacing: 0px;
}

th {
    padding: 15px 10px 15px 5px;
    border: 1px solid #3f4b564f;
    border-radius: 3px;
}

label {
    margin: 0px 0px 10px 0px;
    font-size: 17px;
}

input {
    margin: 0px 0px 10px 0px;
    font-size: 15px;
    height: 25px;
    border: 2px solid #316a9f;
    border-radius: 5px;
    background-color: #0069ff4f;
}

.table_container {
    display: flex;
    flex-direction: column;
}

.main_table {
    margin: 10px auto 0px auto;
    width: 1000px;
    border: 1px solid #00bcc5;
    border-radius: 5px;
}

.table_name {
    display: flex;
    margin: 10px auto 10px auto;
    font-size: 25px;
    height: 60px;
    align-items: center;
}

.containers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.submit_button {
    width: 100%;
    height: 30px;
    font-size: 17px;
}

.row_column_name {
    background-color: #a8a8ff3b;
    font-weight: bold;
    font-size: 17px;
    border: none;
    height: 42px;
}

.column_name {
    border: none;
}

.even_row {
    background-color: #2eff9e3b;
    font-weight: lighter;
    font-size: 14px;
    height: 30px;
}

.odd_row {
    background-color: #2ed5ff3b;
    font-weight: lighter;
    font-size: 14px;
    height: 30px;
}